logo {
  filter: drop-shadow(1px 1px 2px black);
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  font-size: 18px;
  color: olive;
}

h1 {
  font-size: 5em;
  color:whitesmoke;
  text-shadow: 2px 2px 2px black;
  font-family: 'Abril Fatface', cursive;
}

section p {
  font-size: 15px;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

section a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 0px;
  font-family: 'Roboto', sans-serif;
}

section a:hover {
  background-color: gray;
}