* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#080f15;
  height: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

.burger img {
  filter: invert(1);
  height: 40px;
  width: 40px;
}

.burger img:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px black);
}

nav {
  display: none;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
/*****************hero section***********************/

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: inherit;
  background-size: cover;
  height: 30%;
  overflow: hidden;
}

/*************************content*****************************/

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #0d1917;
  height: auto;
  overflow-x: hidden;
  padding: 10px;
}

article {
  max-width: 100%;
}

article p {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  object-fit: contain;
  margin-top: 30px;
}

figure {
  display: grid;
  justify-items: center;
  align-items: center;
}

figure img {
  height: 80%;
  width: 70%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 3px black;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

iframe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 10px;
}

/******************footer***********************/

footer {
  height: 20%;
  background-color: #080f15;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer ol {
  display: flex;
  gap: 10px;
}

footer img {
  height: 40px;
  width: 40px;
  filter: drop-shadow(1px 1px 2px black);
}

footer img:hover {
  opacity: 0.5;
}

/*************************************************************/
/***********************media query***************************/
/*************************************************************/

@media screen and (min-width: 600px) {
.burger img {
  display: none;
}

nav {
  display: initial;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}