* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#080f15;
  height: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
/*****************hero section***********************/

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: inherit;
  background-size: cover;
  height: 30%;
  overflow: hidden;
}

/*************************content*****************************/

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #0d1917;
  height: auto;
  overflow-x: hidden;
}

article {
  max-width: 100%;
}

article p {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

figure {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  object-fit: contain;
  grid-gap: 10px;
  padding: 20px;
  margin-top: 30px;
}

figure img {
  height: 80%;
  width: 70%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 3px black;
}



aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

iframe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
  border-radius: 15px;
}

/******************footer***********************/

footer {
  height: 20%;
  background-color: #080f15;
}

